<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    </head>
    <body>
        <h1>ProMan</h1>
        <div id="root"></div>
        <div id="all-boards"></div>

    <button id="mdlButton" style="margin-left: 1100px"> Add board </button>
  <div id="boardMdl" class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
          <span class="closeBtn"> x </span>
          <h2>Add new board</h2>
      </div>
      <div class="modal-body">
          <div>
          <label for="fname"></label><br>
          <input type="text" id="board" name="fname"><br>
            <input type="submit" id="add_board">
          </div>
      </div>
    </div>
      </div>
    </body>
</html>
